<!DOCTYPE html>
<html lang="<%= language %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#5CDB95"/>
  <meta name="description" content="<%= description %>">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="src/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="src/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="shortcut icon" href="src/favicon/android-chrome-512x512.png" sizes="512x512">
  <link rel="apple-touch-icon" href="src/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="shortcut icon" href="src/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="src/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js" async></script>
  <script>
    window.addEventListener("load", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    });
  </script>
  <title><%= title %></title>
</head>
<body>
  <div id="loader">
    <div id="loader-emojis"></div>
    <div id="neumorphism-box"></div>
  </div>
  <header>
    <div id="flags">
      <a href='fr' id="france-flag"><img src="src/flags/france.png" class="flag" alt="France Flag"></img></a>
      <a href="en" id="uk-flag"><img src="src/flags/united-kingdom.png" class="flag" alt="English Flag"></img></a>
    </div>
    <div id="title-illustration">
      <h1 id="title">
        <span id="o" class=letters>O</span>
        <span id="u" class=letters>U</span>
        <span id="a" class=letters>A</span>
        <span id="i" class=letters>I</span>
        <span id="z" class=letters>Z</span>
        <span id="e" class=letters>E</span>
        <span id="u2" class=letters>U</span>
        <span id="r" class=letters>R</span>
      </h1>
      <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g transform="translate(440.37358348989477 278.67621216437584)">
          <path id="blob1"
            d="M185.8 -160.8C235.8 -135.8 267.9 -67.9 263.1 -4.8C258.2 58.2 216.4 116.4 166.4 157.6C116.4 198.8 58.2 222.9 7.7 215.2C-42.9 207.6 -85.8 168.1 -133 127C-180.1 85.8 -231.6 42.9 -242.2 -10.6C-252.8 -64.1 -222.6 -128.2 -175.4 -153.2C-128.2 -178.2 -64.1 -164.1 1.9 -166C67.9 -167.9 135.8 -185.8 185.8 -160.8"
            fill="#52c586"></path>
        </g>
        <g transform="translate(484.9479675355991 308.1363180738324)" style="visibility: hidden;">
          <path id="blob2"
            d="M144.4 -150.1C171.9 -116.9 168.5 -58.5 172.9 4.5C177.4 67.4 189.8 134.8 162.3 159.8C134.8 184.8 67.4 167.4 11 156.5C-45.5 145.5 -91 141 -141 116C-191 91 -245.5 45.5 -249.3 -3.8C-253 -53 -206.1 -106.1 -156.1 -139.2C-106.1 -172.4 -53 -185.7 2.7 -188.4C58.5 -191.1 116.9 -183.2 144.4 -150.1"
            fill="#52c586"></path>
        </g>
      </svg>
    </div>
    <div class="additional-background"></div>
    <div class="layered-waves"></div>
    <h2 id="slogan"><%= slogan %></h2>
    <input type="text" placeholder="<%= input %>" id="city-name"/>
    <button id="button"><%= button %></button>
  </header>
  <section>
    <div id="header-infos">
      <div id="general-infos">
        <h3 id="name-city"><%= weatherLocation %><span id="name-city-span"></span></h3>
        <h5 id="current-hour"><%= weatherHour %><span id="current-hour-span"></span></h5>
      </div>
      <div id="buttons-scale-forecast">
        <a href="#" id="button-current" class="active-button-scale-forecast current-weather"><%= currently %></a>
        <a href="#" id="button-today" class="today-weather"><%= today %></a>
        <a href="#" id="button-tomorrow" class="tomorrow-weather"><%= tomorrow %></a>
        <a href="#" id="button-after-tomorrow" class="after-tomorrow-weather"><%= dayAfterTomorrow %></a>
      </div>
    </div>
    <div id="loader-api">
      <div id="loader-api-emojis"></div>
    </div>
    <div id="current-weather" class="active forecast current-weather">
      <img src="" id="current-icon"/>
      <h4 id="current-condition"></h4>
      <h4 id="current-temp">
        <span id="current-temp-c"></span>&nbsp;|
        <span id="current-temp-feelslike-c"></span>
      </h4>
    </div>
    <div id="today-weather" class="forecast today-weather">
      <h4 class="condition"></h4>
      <div class="weather-boxes" id="weather-boxes-today">
        <div class="forecast-weather-box" id="today-h0">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h3">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h6">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h9">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h12">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h15">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h18">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-h21">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="today-24">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
      </div>
    </div>
    <div id="tomorrow-weather" class="forecast tomorrow-weather">
      <h4 class="condition"></h4>
      <div class="weather-boxes">
        <div class="forecast-weather-box" id="tomorrow-h0">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h3">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h6">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h9">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h12">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h15">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h18">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="tomorrow-h21">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
      </div>
    </div>
    <div id="after-tomorrow-weather" class="forecast after-tomorrow-weather">
      <h4 class="condition"></h4>
      <div class="weather-boxes">
        <div class="forecast-weather-box" id="after-tomorrow-h0">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h3">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h6">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h9">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h12">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h15">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h18">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
        <div class="forecast-weather-box" id="after-tomorrow-h21">
          <h4 class="hour"></h4>
          <img src="" class="icon"/>
          <h4 class="temp-c"></h4>
        </div>
      </div>
    </div>
  </section>
  <aside>
    <p id="error"></p>
  </aside>
  <footer>
    <ul>
      <li>
        <a href="https://github.com/Xeway/Ouaizeur" title="<%= titleFooter %>">
          <svg version="1.1" id="github" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.549px" height="438.549px" viewBox="0 0 438.549 438.549" style="enable-background:new 0 0 438.549 438.549;" xml:space="preserve">
            <g>
              <path d="M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365
                c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63
                c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996
                c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136
                c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559
                c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559
                c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997
                c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851
                c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136
                c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41
                c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126
                c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817
                c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994
                c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849
                c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24
                c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979
                c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146
                c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995
                c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906
                C438.536,184.851,428.728,148.168,409.132,114.573z" fill="#8ee4af"/>
            </g>
          </svg>
        </a>
      </li>
    </ul>
    <div class="button-install-box">
      <p id="description-install"><%= descriptionInstall %></p>
      <button id="button-install"><%= installButton %></button>
    </div>
  </footer>
  <script src="js/loader.js"></script>
  <script src="js/pwa-prompt.js"></script>
  <script src="js/background.js"></script>
  <script src="js/animation-blob.js"></script>
  <script>
    let language = `<%= language %>`;
  </script>
  <script src="js/app.js"></script>
  <script src="js/navbar.js"></script>
</body>
</html>